img{
max_width:100%;
height:auto;
overflow-x:hidden
overflow-y:hidden
margin:0;
padding:40px}

.container{
margin:0
padding:0
overflow-x:hidden
overflow-y:hidden
height:100%
}


body{
background-color:yellow
}

li{
font-family: 'Rubik', sans-serif;
font-size:16pt
}

.title{
font-family: 'Lato', sans-serif;
}