img{
max_width:100%;
height:auto;
overflow-x:hidden
overflow-y:hidden
margin:0;
padding:40px}

.container{
margin:0
padding:0
overflow-x:hidden
overflow-y:hidden
}


body{
background-color:yellow
}
.container{
height:100%
}
r{
width:200%%,margin-left:auto,margin-right:auto,display:block
}

.title{
font-family: 'Lato', sans-serif;
}