{% extends 'base.html' %}
<body>
<h1>sassa</h1>
{% block styles%}
      {{ super() }}
     <link  type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">

{% endblock %}
{% block content %}
       <div class="container">
      <h1>{{title}}</h1>

           <form>

        <input type="text" name="search_article" placeholder="Search for article" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-success">
    </form>
        <div class="row">
            <div class="col-sm-2 col-md-6">
               <h2><b><i>Sources</i></b></h2>
      {% for newsources in source %}
            <li>
         <a href="/sources/{{newsources.id}}">{{newsources.name}}</a>


            </li>

      {% endfor %}
       </div>

            <div class="col-sm-2 col-md-6" style="overflow:hidden">
                <h1>TOP HEADLINES</h1>
                {% for toplines in headlines %}

                <li> {{toplines.nameheadline}} </li>
                 <a href="{{toplines.link}}"> {{toplines.link}} </a>



                {% endfor %}



            </div>



     </div>
       </div>

{% endblock %}




</body>