{% extends 'base.html' %}
{% block styles%}
      {{ super() }}
     <link  type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/news.css')}}">

     <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

{% endblock %}
{% block content %}
     <div class="container">
         <div class="row">
               <div class="col-sm-3 col-md-12">
    {% for sasa in heads %}


         <li>{{sasa.description}}</li>
         <li class="badge badge-primary">Time published: {{sasa.timepublished}}</li>
         <a href="{{sasa.link}}">{{sasa.link}}</a>

       <br>
    <img src="{{sasa.image}}" class="img-responsive">



    {% endfor %}
               </div>
         </div>
     </div>

{% endblock %}
